@import "../utils/variables";
@import "../utils/mixins";

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.error {
  & > h1 {
    margin-top: 0px;
    flex-basis: 90%;
    font-size: 85px;
    color: $palette8;
    font-family: "Press Start 2P", cursive;
  }
  & > h3 {
    margin-top: 0px;
    flex-basis: 90%;
    font-size: 35px;
    color: $palette3;
    font-family: "Righteous", cursive;
  }
  & > a {
    color: $palette8;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    font-weight: bolder;
    &:visited {
      color: $palette5;
    }
  }
}
