@import "../utils/variables";
@import "../utils/mixins";

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.header {
  padding: 0;
  background-color: $palette1;
  @include flexcenter;
  width: 100%;
  height: 200px;

  & > img {
    padding: 15px;
    width: 5%;
  }
  & > h1 {
    flex-basis: 90%;
    font-size: 35px;
    color: $palette4;
    font-family: "Press Start 2P", cursive;
  }
  &--welcome {
    @include flexcenter;
    font-size: 20px;
    margin: 8px;
    padding: 0;
    color: $palette6;
    font-family: "Righteous", cursive;
  }
  &--button {
    @include button;
    background-color: $palette6;
    width: 76px;
    height: 28px;
    font-size: 10px;
    color: $palette8;

    &:hover {
      border: 2px solid $palette8;
      background: linear-gradient(to bottom, $palette2 25%, $palette6 100%);
    }
    &:active {
      position: relative;
      top: 1px;
    }
  }
}
