@import "../utils/variables";

// @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Staatliches&display=swap");

.nav {
  & > ul {
    display: flex;
    align-content: space-between;
    flex-direction: row;
    justify-content: space-evenly;

    > li {
      margin-right: 25px;
      margin-left: 25px;
      list-style: none;

      & > a {
        @include titles;
        &:hover {
          color: $palette8;
        }
      }
    }
  }
}
