$background-color: #ffffff;
$header-color: #588b8b;

$dark-color: #c8553d;
$mid-color: #f28f3b;
$light-color: #ffd5c2






// PALETA DE COLOR
// #c8553d
// #f28f3b
// #ffd5c2
// #ffffff
// #588b8b
//https://coolors.co/588b8b-ffffff-ffd5c2-f28f3b-c8553d