$palette1: #a0d1c9;
$palette2: #d6d2c3;
$palette3: #f08c33;
$palette4: #b76226;
$palette5: #8b391c;

$palette6: #f5f4eb;
$palette7: #ad9490;
$palette8: #477070;
$palette9: #e2ded4;
$palette10: #c8553d;
